    <section>
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
              <div class="col-md-3 mb-2 mb-md-0 link-secondary">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-dark">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="dark" class="bi bi-house-heart" viewBox="0 0 16 16">
                        <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.309 8 6.982"/>
                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.707L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.646a.5.5 0 0 0 .708-.707L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                      </svg> <span class="px-2 text-dark fw-bold"> Let's Meet </span>
                </a>
              </div>

              <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 text-dark">
                <li><a href="#" class="nav-link px-2 link-secondary">Find Event</a></li>
                <li><a href="#" class="nav-link px-2 text-dark">Create Events</a></li>
                <li><a href="#" class="nav-link px-2 text-dark">Help Center</a></li>
                <li><a href="#" class="nav-link px-2 text-dark">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-dark">About</a></li>
              </ul>

              <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-secondary me-2"><a href="{% url 'events-sign-in' %}" class="text-decoration-none text-dark" >Login</a></button>
                <button type="button" class="btn btn-outline-secondary"><a href="{% url 'sign-up' %}" class="text-decoration-none text-dark">Sign-up</a></button>
              </div>

              <div class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small">
                  <li><a class="dropdown-item" href="#">New project...</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
              </div>
            </header>
          </div>
    </section>