{% extends 'meetups/base/base.html' %}

{% load static %}

{% block styling %}
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
{% endblock %}

{% block navbar %}
{% include 'meetups/includes/navbar.html' %}
{% endblock %}

{% block events-block %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">{{ event.title }}</h1>
            <p class="col-lg-10 fs-4">{{ event.description }}</p>
            <div class="">
                <img src="{{ event.image.url }}" class="align-items-center m-5" alt="{{ event.title }}"
                  width="300" height="200" loading="lazy">
              </div>
        </div>

        <!-- form for registering participants -->
        <div class="col-md-7 m-5 col-lg-5">
            <form class="" action="{% url 'event-details' event.slug %}" method="POST">

                {% csrf_token %}

                {{ form }}
                <!-- <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div> -->
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-secondary">Sign up</button>
                <hr class="my-4">
                <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
            </form>
        </div>
    </div>
</div>
{% endblock %}